.example-spacer {
    flex: 1 1 auto;
  }

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.colverde{
  background-color:#8eff8e;
}

.colceleste{
  background-color: #93dff9;
}